Xadrez/savedFiles/xadrez.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Tabuleiro SYSTEM "xadrez.dtd">
	<!ELEMENT Tabuleiro (Peca*)>
	<!ELEMENT Peca (posição)>
	<!ATTLIST Peca
		cor     (BLACK | WHITE) #REQUIRED
		id      CDATA #REQUIRED
		tipo    (Rook | Knight | Bishop | Queen | King | Pawn) #REQUIRED
	>
	<!ELEMENT posição (#PCDATA)>
